@use "util" as u;

:root {
  /* Background Gradients */
  --bg-gradient: url("img/home.svg");

  /* Colors */
  --c-primary: #db0660;
  --c-secondary: #efd912;
  --c-white: #fffdfa;
  --c-black: #1c1b1c;
  --c-grey: #c2c2c2;
  --c-black: #1c1b1c;
  --c-primary-gradient: linear-gradient(#ff0b71, #d20058);
  --c-secondary-gradient: linear-gradient(#efd912, #c7b512);
  --c-grey-gradient: linear-gradient(#dedede, #f3f3f3);

  /* Drop Shadows */
  --ds-primary: 0 0 40px 7px rgb(255, 24, 121, 0.3);
  --ds-secondary: 0 0 40px 7px rgba(242, 218, 6, 0.3);
  --ds-grey: 0 10px 25px 1px #270011;
  --ds-white: 0 0 20px 4px #ffffff;

  /* Screen Widths */
  --w-sm: #{u.rem(375)};
  --w-md: #{u.rem(768)};
  --w-lg: #{u.rem(1024)};
  --w-xl: #{u.rem(1200)};
  --w-xxl: #{u.rem(1400)};

  /* Font Sizes */
  --f-body: #{u.rem(14)};
  --f-sub-head-1: #{u.rem(16)};
  --f-sub-head-2: #{u.rem(14)};
  /* h2 fallback font-size: 1.5rem; */
  --f-h2: #{clamp(
      #{u.rem(24)},
      1.3528089887640449rem + 0.599250936329588vw,
      #{u.rem(32)}
    )};

  /* h3 fallback font-size: 1.25rem; */
  --f-h3: #{clamp(
      #{u.rem(20)},
      1.1764044943820224rem + 0.299625468164794vw,
      #{u.rem(24)}
    )};

  /* h4 fallback font-size: 1rem; */
  --f-h4: #{clamp(
      #{u.rem(16)},
      0.9632022471910112rem + 0.149812734082397vw,
      #{u.rem(18)}
    )};

  /* menu fallback font-size: 1.125rem; */
  --f-menu: #{clamp(
      #{u.rem(18)},
      1.0882022471910113rem + 0.149812734082397vw,
      #{u.rem(20)}
    )};
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: var(--f-body);
  line-height: 1.7;
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--c-white);
}

.light-mode {
  background-color: var(--light);
  color: var(--dark);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a {
  text-decoration: none;
  transition: 150ms ease-in-out;
  transition-property: color, background-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  width: min(u.rem(1200), calc(100% - u.rem(32)));
  margin-inline: auto;

  @media (width >= u.rem(1728)) {
    width: u.rem(1488);
  }
}

.grid {
  display: grid;
  gap: u.rem(64);

  @media (width >= u.em(1200)) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: u.rem(300) auto auto;
    gap: u.rem(30);
  }
}

.noscroll {
  overflow-y: hidden;
}
