@use "../util" as u;

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.05));
  font-size: var(--f-menu);
  line-height: 100%;
  font-weight: bold;
  color: var(--c-white);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: u.rem(32.5) 0;
  }
  &__logo {
    width: 40%;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    height: u.rem(35);
    & > * {
      margin-right: u.rem(8);
    }
    @media (width >= u.rem(1024)) {
      width: 80%;
    }
  }
  &__form {
    input {
      display: none;
    }
    button {
      background: none;
      height: u.rem(35);
      border: none;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
  }
  &__hamburger {
    background: transparent;
    height: u.rem(35);
    border: none;
    @media (width >= u.rem(1024)) {
      display: none;
    }
    img {
      height: 100%;
    }
  }
  &__ul {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    // width: 70%;

    @media (width < u.rem(1024)) {
      position: absolute;
      top: 0;
      right: 0;
      width: 70vh;
      //   display: flex;
      flex-direction: column;
      height: 100vh;
      background-color: var(--c-grey);
      justify-content: start;
      padding-top: u.rem(105);
      li {
        margin-bottom: 50px;
        margin-right: 0;
      }
    }
    @media (width >= u.rem(1024)) {
      display: flex;
      flex-direction: row;
    }
  }
  &__li {
    display: inline-block;
    margin-right: #{u.rem(20)};
    a {
      color: var(--c-white);
    }
    a.active {
      color: var(--c-primary);
    }
    a.cta {
      color: var(--c-secondary);
    }
  }
  &__account {
    height: 100%;
    img {
      height: 100%;
    }
  }
}
